<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/domaci.css">
</head>

<body>
    
    <h2>Nemanja Capric</h2>

    <input type="text" id="unos">
        <table id="tabela">
            <thead>
                <tr>
                    <th>Predmet</th>
                    <th>Tip</th>
                    <th>Nastavnik</th>
                    <th>Grupe</th>
                    <th>Dan</th>
                    <th>Termin</th>
                    <th>Vreme</th>
                </tr>
            </thead>

            <tbody id="raspored">
                {% for n in raspored %}
                <tr>
                    <td>{{n[1]}}</td>
                    <td>{{n[2]}}</td>
                    <td>{{n[3]}}</td>
                    <td>{{n[4]}}</td>
                    <td>{{n[5]}}</td>
                    <td>{{n[6]}}</td>
                    <td>{{n[7]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <h3>Profesori</h3>
            {% for n in profesori %}
            <p><a class="info" href="#">{{n}}</a></p>
            {% endfor %}
        </div>

        <div>
            <h3>Ucionice</h3>
            {% for n in ucionice %}
            <p><a class="info" href="#">{{n}}</a></p>
            {% endfor %}
        </div>

        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="../static/domaci.js"></script>

</body>

</html>